[run]
branch = True
source =
    discourse2fedmsg_messages

[paths]
source =
   discourse2fedmsg_messages
   .tox/*/site-packages/discourse2fedmsg_messages

[report]
fail_under = 100
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    discourse2fedmsg_messages/tests/*
